.header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  width: 100%;
  height: 22px;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: 0.4s;
}
