.popup__container {
    position: relative;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 430px;
    width: 100%;
}
@media screen and (max-width: 635px) {
    .popup__container {
        max-width: 282px;
    }
}